{% extends 'base.html.twig' %}

{% block title %}Ничего не найдено{% endblock %}

{% block main %}
    <section class="lots container">
        <h2>Ничего не найдено</h2>
        <p>Лот не найден. Возможно, он был удален, или торги на него окончены</p>
    </section>
{% endblock %}
