{% extends 'base.html.twig' %}

{% block title %}Мой профиль{% endblock %}

{% block main %}
    <section class="lot-item container">
        <a href="{{ path("app_my_bets") }}">Мои ставки</a>
    </section>
{% endblock %}
